apiVersion: v1
kind: Secret
metadata:
  name: devpulse-db-secret
  namespace: devpulse
type: Opaque
stringData:
  DatabaseSettings__ConnectionString: "Host=devpulse-rds.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com;Port=5432;Database=devpulse;Username=devpulse_user;Password=__REPLACE_WITH_RDS_PASSWORD__"
---
apiVersion: v1
kind: Secret
metadata:
  name: devpulse-opensearch-secret
  namespace: devpulse
type: Opaque
stringData:
  OpenSearch__Username: "__REPLACE_WITH_OPENSEARCH_USERNAME__"
  OpenSearch__Password: "__REPLACE_WITH_OPENSEARCH_PASSWORD__"
---
apiVersion: v1
kind: Secret
metadata:
  name: devpulse-rabbitmq-secret
  namespace: devpulse
type: Opaque
stringData:
  RabbitMq__Username: "__REPLACE_WITH_RABBITMQ_USERNAME__"
  RabbitMq__Password: "__REPLACE_WITH_RABBITMQ_PASSWORD__"
---
apiVersion: v1
kind: Secret
metadata:
  name: devpulse-webhook-secret
  namespace: devpulse
type: Opaque
stringData:
  Webhooks__GitHubSecret: "__REPLACE_WITH_GITHUB_WEBHOOK_SECRET__"
  Webhooks__GitHubApiToken: "__REPLACE_WITH_GITHUB_FINE_GRAINED_PAT__"
